.svg-loading-icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-loading-icon-container svg {
  width: 102.36px;
  fill: var(--unnamed-color-yellow);
  animation: rotate 2s linear infinite;
}
