/* Styles for  movie details container */
.movieDetails-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Styles for the movie details */
.movieDetails {
  width: 100%;
  max-width: 1110px;
  background-color: var(--unnamed-color-darkgrey);
  margin: 20px;
  padding: 30px;
  border-radius: 0.5rem;
  color: var(--unnamed-color-ffffff);
}
/* Styles for links inside movie details */
.movieDetails a {
  text-decoration: none;
  color: var(--unnamed-color-grey);
  font-size: var(--unnamed-font-size-16);
  margin-bottom: 1.5rem;
  font-weight: var(--unnamed-font-weight-400);
}
/* Styles for title, director, producer container */
.title-director-producer {
  text-align: center;
  margin: 0 0 30px;
}
/* Styles for headings 2 within title, director, producer container */
.title-director-producer h2 {
  font-family: "Star Jedi", var(--unnamed-font-family-OpenSans);
  font-size: var(--unnamed-font-size-40);
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  font-weight: var(--unnamed-font-weight-600);
}
/* Styles for paragraphs within title, director, producer container */
.title-director-producer p {
  margin-bottom: 1rem;
  font-size: var(--unnamed-font-size-16);
  font-weight: var(--unnamed-font-weight-400);
}
/* Styles for description section */
.desc {
  margin: 0 0 30px;
}
/* Styles for headings 4 within description section */
.desc h4 {
  margin: 0 0 15px;
  font-size: var(--unnamed-font-size-18);
  font-weight: var(--unnamed-font-weight-600);
  color: var(--unnamed-color-grey);
}
/* Styles for paragraphs within description section */
.desc p {
  font-size: var(--unnamed-font-size-16);
  font-weight: var(--unnamed-font-weight-400);
}
/* All Horizontal rule styling within movie details */
.movieDetails .hr {
  background-color: var(--unnamed-color-gray);
  height: 2px;
  border: none;
}
/* Styles for sections like characters, planets, etc. */
.characters,
.planets,
.species,
.starships,
.vehicle {
  margin: 0 0 30px;
  padding: 30px 0 0;
}
/* Styles for headings 3 within sections like characters, planets, etc. */
.characters h3,
.planets h3,
.species h3,
.starships h3,
.vehicle h3 {
  margin: 0 0 15px;
  font-size: var(--unnamed-font-size-18);
  font-weight: var(--unnamed-font-weight-600);
  color: var(--unnamed-color-grey);
}
/* Styles for unordered lists within sections like characters, planets, etc. */
.characters ul,
.planets ul,
.species ul,
.starships ul,
.vehicle ul {
  font-size: var(--unnamed-font-size-16);
  font-weight: var(--unnamed-font-weight-400);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 1.8rem;
}
/* Responsive design for smaller screens (max-width: 767px) */
@media (max-width: 767px) {
  .movieDetails a {
    font-size: var(--unnamed-font-size-14);
  }
  .title-director-producer h2 {
    font-size: var(--unnamed-font-size-32);
  }
  .title-director-producer p {
    font-size: var(--unnamed-font-size-14);
  }
  .desc h4 {
    font-size: var(--unnamed-font-size-16);
  }
  .desc p {
    font-size: var(--unnamed-font-size-14);
  }
  .characters h3,
  .planets h3,
  .species h3,
  .starships h3,
  .vehicle h3 {
    font-size: var(--unnamed-font-size-16);
  }
  .characters ul,
  .planets ul,
  .species ul,
  .starships ul,
  .vehicle ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: var(--unnamed-font-size-14);
  }
}
/* Further responsive design for very small screens (max-width: 542px) */
@media (max-width: 542px) {
  .characters ul,
  .planets ul,
  .species ul,
  .starships ul,
  .vehicle ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
