.error{
    text-align: center;
  }
  .movie-list .movieItems {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-evenly;
    gap: 10px;
  }
  .movie{
    margin: 1.5rem 0;
  }
  .movie-list .movie h3 {
    font-family: "Star Jedi", var(--unnamed-font-family-OpenSans);
    font-size: var(--unnamed-font-size-22);
  }
  .movie-list .release_date {
    font-family: "Star Jedi", var(--unnamed-font-family-OpenSans);
    font-size: var(--unnamed-font-size-14);
  }
  .movie-list .opening_crawl {
    font-size: var(--unnamed-font-size-16);
    /* margin-bottom: 2.5rem; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.2em * 6);
    line-height: 1.2em;
  }
  .movie-list .movie a {
    font-size: var(--unnamed-font-size-14);
    text-transform: capitalize;
    color: var(--unnamed-color-yellow);
  }
  