*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors: */
  --active-bg-color: rgb(0, 0, 0);
  --unnamed-color-grey: rgb(157, 157, 157);
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-yellow: rgb(255, 232, 31);

  /* Font/text values */
  --unnamed-font-family-OpenSans: "Open Sans", sans-serif;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-App-font-size: 1.6rem;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-14: 14px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-2: 2px;
  --unnamed-line-spacing-33: 33px;
  --unnamed-text-transform-titlecase: titlecase;
}
body{
  max-width: 100%;
  background-color: var(--active-bg-color);
}
.App {
  font-family: var(--unnamed-font-family-OpenSans);
  width: 100%;
  font-size: var(--unnamed-App-font-size);
  color: var(--unnamed-color-ffffff);
  -webkit-font-smoothing: antialiased; /* Smoothing for WebKit browsers */
  -moz-osx-font-smoothing: grayscale;  /* Smoothing for Firefox on macOS */
}
