.App {
  font-family: var(--unnamed-font-family-OpenSans);
  width: 100%;
  font-size: var(--unnamed-App-font-size);
  color: var(--unnamed-color-ffffff);
  padding-bottom: 2rem;
  -webkit-font-smoothing: antialiased; /* Smoothing for WebKit browsers */
  -moz-osx-font-smoothing: grayscale;  /* Smoothing for Firefox on macOS */
}
