*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors: */
  --active-bg-color: rgb(0, 0, 0);
  --unnamed-color-grey: rgb(157, 157, 157);
  --unnamed-color-gray: rgb(60, 60, 60);
  --unnamed-color-darkgrey: rgb(35, 35, 35);
  --unnamed-color-ffffff: rgb(255, 255, 255);
  --unnamed-color-yellow: rgb(255, 232, 31);
  /* Font/text values */
  --unnamed-font-family-OpenSans: "Open Sans", sans-serif;
  --unnamed-font-weight-700: 700;
  --unnamed-font-weight-600: 600;
  --unnamed-font-weight-400: 400;
  --unnamed-App-font-size: 1.6rem;
  --unnamed-font-size-40: 40px;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-14: 14px;
}
body {
  max-width: 100%;
  background-color: var(--active-bg-color);
}
